Hello, {{order.user.firstName~"_"~order.user.lastName}} !</ br>
Your order has been successfully placed. The order number is {{"%1$08d"|format(order.id)}}. </ br>
To track your order progress please access the following link : <a href="{{url('order_details',{'id': order.id})}}"> Order details link </a>